.App {
  text-align: center;
}

.search-top-box {
  display: flex;
  justify-content: center;
}

.search-bar {
  /* border: solid 1px red; */
  width: 20em;
}

#results {
  position: absolute;
  width: inherit;
  overflow-y: scroll;
  height: 10em;
  /* border-bottom: 1px #eeeeee solid; */
  background-color: lightcoral;
  border-radius: 0;
}

#results > button {
  background-color: lightcoral;
  border-radius: 0;
  text-align: left;
  color: #fafafa;
  font-size: 1em;
}
